body {
	background: #f2f2f2;
	color: #023047;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 20px;
	min-width: 100px;
	
	text-align: justify;
	padding: 20px;
	
	
}

@media (min-width: 800px) 
{
	div.body {
	  width: 100%;
	 
	}

	  
p a {
	color: #023047;
}

#page {
	background: url(../images/background.jpg) ;
	overflow: hidden;
	width: 100%;
}
#header {
	margin: 0 auto;
	width: 960px;
}


#header div {
	margin: 65px 0 0;
	text-align: justify;
}

#header ul {
	list-style: none;
	margin: 25px 0 0;
	overflow: hidden;
	padding: 0;
	text-align: justify;
}
#header ul li {
	display: inline-block;
	height: 34px;
	margin: 0 5px;
}
#header ul li a {
	background: url(../images/bg-menu-right.gif) no-repeat right top;
	color: #164773;
	display: block;
	font-size: 14px;
	line-height: 32px;
	text-align: justify;
	text-decoration: none;
}
#header ul li a span {
	background: url(../images/bg-menu-left.gif) no-repeat left top;
	cursor: pointer;
	display: block;
	height: 34px;
	padding: 0 15px;
}
#header ul li.current a, #header ul li a:hover {
	background: url(../images/bg-menu-selected-right.gif) no-repeat right top;
	color: #f2ffff;
}
#header ul li.current a span, #header ul li a:hover span {
	background: url(../images/bg-menu-selected-left.gif) no-repeat left top;
}




#body, div.body {
	background: #f6efe5;
	border: 1px solid #e0dacc;
	margin: 17px auto 25px;
	overflow: hidden;
	padding: 0 0 30px;
	width: 960px;
}
#body ul {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#body ul li {
	background: url(../images/border-vertical.gif) repeat-y;
	float: left;
	height: 450px;
	padding: 0 25px 0 20px;
	
	width: 275px;
}
#body ul li:first-child {
	background: none;
}
#body ul li h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	line-height: 28px;
	margin: 0;
	padding: 28px 0;
}
#body ul li h1 a {
	color: #0d4d79;
	display: block;
	text-align: justify;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 1px #f8ffff;
}
#body ul li h1 a:hover {
	color: #0d4d79;
}

#body ul li a img {
	display: inline-block;
	padding: 3px;
}
#body ul li span {
	color: #3e3524;
	display: block;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 0 0 5px;
	text-transform: uppercase;
}
#body ul li p {
	line-height: 23px;
	margin: 0;
	padding: 0;
	text-align: justify;
}

div.body {
	padding: 30px 20px;
	width: 920px;
}
div.body h2 {
	color: #0D4D79;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	line-height: 28px;
	margin: 0;
	padding: 0 0 30px;
	text-shadow: 0 1px #F8FFFF;
	text-transform: uppercase;
}
div.body span, div.body h3 {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	margin: 0;
}
div.body span a, div.body h3 a {
	color: #706758;
	text-decoration: none;
	
	
}

div.body span b {
	font-weight: normal;
	text-transform: uppercase;
}
div.body div {
	margin: 0 0 31px;
	overflow: hidden;
}

}
div.body div img {
	float: left;
	margin: 33px 0 0;
}
div.body div p {
	float: right;
	line-height: 24px;
	margin: 26px 0 0;
	padding: 0;
	text-align: justify;
	width: 470px;
}
div.body p {
	line-height: 24px;
	margin: 0 0 29px;
	text-align: justify;
}
div.body table tr td {
	padding: 0 40px 5px 0;
}
div.body ul {
	background: url(../images/border-vertical.gif) repeat-y center top;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
div.body ul li {
	float: right;
	margin: 0 20px;
	width: 400px;
}
div.body ul li:first-child {
	float: left;
}
div.body ul li img {
	margin: 0 0 31px;
}
div.body ul li p {
	margin: 0;
}
div.body ul li span {
	line-height: 24px;
}
div.body ul li ul {
	background: none;
	list-style: disc outside;
	margin: 0;
	padding: 0 0 30px 15px;
}
div.body ul li ul li {
	float: none;
	margin: 0;
	padding: 0 0 0 5px;
	width: auto;
}


